<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Facebook My App</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" style="text-align:center;background-color:#C6AC7D;height: 400px;width: 50%;">
	<h2 style="padding-top: 10px;">Profile Details</h2>
	<h3>Name</h3><p th:text="${profie.name}"></p>
	<h3>From</h3><p th:text="${profie.from}"></p>
	<h3>Email</h3><p th:text="${profie.email}"></p>
</div>
<div class="container" style="background-color:#E7C3A9;height: 300px;width: 50%;">
	<div th:if="${not #lists.isEmpty(photos)}">
		<h2 style="text-align:center;padding-bottom: 50px;">Photos</h2>
		<table align="center">
        <tr th:each="photo : ${photos}">
          <td>
          	<img th:src="@{${photo.links}}" width="150" height="150"/>
          </td>
        </tr>
    </table>
	</div>
</div>
</body>
</html>